* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(128, 0, 0, 1), rgba(180, 0, 0, 1), rgb(255, 0, 0));
    background-size: 100% 200%;
    animation: gradient-conteiner 3s infinite alternate;
}

/*EFECT GRADIENT*/
@keyframes gradient-conteiner {
    0% {
        background-position-y: 0%;
    }

    100% {
        background-position-y: 100%;
    }
}

body * {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
}


/*TOP*/
.top {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.top #text-initial {
    display: flex;

    width: 650px;
    height: 140px;
    border-radius: 1000px;
    align-items: center;
    justify-content: center;
    gap: 42px;
    align-items: center;
    justify-content: center;

    background: white;

    margin-top: 40px;

    -webkit-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 8px 10px 14px 0px rgba(0, 0, 0, 0.7);

}

.top #text-initial p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: black;
}

.top #text-initial #star-left {
    width: 80px;
    height: 80px;

    transform: rotate(-21.43deg);
    animation: zoom 2.5s ease-in-out infinite;
}

.top #text-initial #star-right {
    width: 80px;
    height: 80px;

    transform: rotate(21.43deg);
    animation: zoom 2.5s ease-in-out infinite;
}

/* ROLAR A PÁGINA */
.scroll-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 99.04px;
    gap: 200px;


}

/* .scroll-page #left-eyes {
    margin-right: 209.51px; 

    transform: rotate(15.63deg);
} */

.scroll-page p {
    margin-left: 35px;
    font-size: 24px;
    font-weight: 500;

}

.scroll-page #dedo img {
    animation: float 2s ease-in-out infinite;
}

/* .scroll-page #direct-eyes {

    margin-left: 210px; 

    transform: rotate(15.63deg);
} */

/* TEXT CENTER */
#text-love-center p {
    font-size: 40px;
    font-weight: 500;
    text-align: center;

    margin: 350px auto 0;

}



/* CENTER 01 */
.center-01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 400px auto 0;
    gap: 250px;
}

.center-01 .hugs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-01 .hugs #hug {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.center-01 .kisses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-01 .kisses #kiss {
    width: 270px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.center-01 p {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

/* CENTER 02 */
.center-02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 150px auto 0;
}

.center-02 .bites #bite {
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
}

.center-02 p {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}



/* CONTINUA ROLANDO */
.continue #continued {
    font-size: 40px;
    text-align: center;
    margin: 500px auto 0;
}



/* BALÃO */
#baloon {
    display: flex;
    margin-top: 328px;
    justify-content: end;
    align-items: center;
    
    animation: float 2s ease-in-out infinite;
}

/* OLHO ESQUERDA */
#left-eyes-02 {
    margin-top: 500px;

    transform: rotate(15.63deg);
    animation: zoom 2.5s ease-in-out infinite;
}

/* ENTÃO */
#thin p {
    font-size: 100px;
    font-weight: 500;
    text-align: center;

    margin-top: 450px;
}

/* OLHO DIREITO */
#right-eyes-02 {
    text-align: right;
    margin-top: 500px;

    transform: rotate(15.63deg);
    animation: zoom 2.5s ease-in-out infinite;
}

/* IMAGE + TEXT */
.photo-01 {

    display: flex;
    flex-direction: column;
    /* width: 854px; */
    justify-content: center;
    align-items: center;

    margin-top: 300px;
}

.photo-01 #our-photo {
    width: 350px;
    height: 350px;

    border-radius: 32px;
    /* border: 2.5px solid white; */

    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);

}

.photo-01 #start {
    width: 800px;
    font-size: 40px;
    font-weight: 700;

    margin-top: 30px;
    text-align: center;
}

.photo-01 #gif {
    margin-top: 10px;
}


/* TEXT 01 */
.text-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 180px;

}

.text-01 #title-01 {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.text-01 #title-02 {
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: black;

    text-align: justify;

    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 30px;
}

/* DIV VIDEO COMPLETA */
.video-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.video-text #moment {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.video-text #video {
    width: 300px;

    border-radius: 32px;

    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
}

.video-text #hearts-video {
    width: 280px;
    position: absolute;
    left: 75px;

    transform: rotate(20.89deg);
}

.video-text #bouquet-video {
    width: 280px;
    position: absolute;
    right: 75px;


    transform: rotate(-19.62deg);
}

/* TITLE 03  (OUTRO MOMENTO)*/
.text-02 {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 450px;
}

.text-02 #title-03 {
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

/* TEXT 02 (FIRST MOMENT) */
.text-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 350px;
}

.text-03 #title-04 {
    text-align: center;
    font-weight: 600;
    font-size: 26px;

}

.text-03 #title-05 {
    width: 80%;
    display: flex;
    font-size: 20px;
    line-height: 27px;
    color: black;

    text-align: justify;

    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 30px;
}

/* FOTO 03 (1º BEIJO) */
.photo-02 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 350px;

}
 .first-kiss{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }
.photo-02 .first-kiss img {
    width: 350px;

    border-radius: 32px;

    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
}

.photo-02 .first-kiss p {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.photo-02 .first-kiss #first{
    font-size: 24px;

    margin-top: 14px;
}
.photo-02 .first-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo-02 .first-photo img{
    width: 350px;
    height: 500px;
    border-radius: 32px;

    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
}

.photo-02 .first-photo p{
    width: 480px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-bottom: 5px;
}


/* FOTO 02 (1 ANO DE NAMORO) */
.photo-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 450px;
}

.photo-03 img {
    width: 480px;

    border-radius: 32px;

    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
}

.photo-03 p {
    width: 480px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;

    margin-top: 10px;
}

/* MAIN TEXT 01 */
.main-text-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 200px;

}

.main-text-01 #title-main-text {
    font-size: 36px;
    text-align: center;

}

.main-text-01 #main-text-02 {
    width: 900px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 27px;
    color: rgb(0, 0, 0);

    /* margin-top: 40px; */
}

.main-text-01 #back-text {
    display: flex;
    width: 962px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;

    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 30px;
}


/* ULTIMO TEXTO */
.finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 200px;
    margin-bottom: 80px;
}

.finish p {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    /* TOP */
    .top #text-initial {
        width: 380px;
        gap: 9.5px;
    }

    .top #text-initial p {
        font-size: 22px;
    }

    .top #text-initial #star-left {
        width: 70px;
        height: 70px;
    }

    .top #text-initial #star-right {
        width: 70px;
        height: 70px;
    }


    /* ROLAR A PÁGINA */
    .scroll-page {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 225px;

    }

    /* CENTER 01 */
    .center-01 {
        text-align: center;
        flex-direction: column;
    }


    /* CENTER 02 */
    .center-02 {
        margin: 250px auto 0;
    }

    /* OLHO ESQUERDO */
    #left-eyes-02 {
        width: 200px;
        margin-left: 25px;
    }

    /* ENTÃO */
    #thin p {
        font-size: 80px;
    }

    /* OLHO DIREITO */
    #right-eyes-02 {
        margin-right: 25px;
    }

    /* IMAGE + TEXT */
    .photo-01 #our-photo {
        width: 350px;
        height: 350px;

    }

    .photo-01 #start {
        width: 98%;
        font-size: 21px;
        /* border: 1px solid white; */
    }


    /* TEXT 01 */
    .text-01 #title-01 {
        width: 90%;
        font-size: 24px;
    }

    .text-01 #title-02 {
        width: 85%;
    }


    /* DIV VIDEO COMPLETA */
    .video-text #moment {
        font-size: 22px;
    }

    .video-text #hearts-video {
        display: none;

    }

    .video-text #bouquet-video {
        display: none;
    }



    /* TITLE 3 (OUTRO MOMENTO)  */
    .text-02 #title-03 {
        font-size: 26px;
    }

    /* TEXT 02 (FIRST MOMENT) */
    .text-03 {
        margin-top: 200px;
    }

    .text-03 #title-04 {
        width: 90%;
        font-size: 24px;

    }

    .text-03 #title-05 {
        width: 85%;
        font-size: 20px;
    }

    /* FOTO 03 (1º BEIJO) */
    .photo-02 {
        flex-direction: column;
    }
    .photo-02 .first-kiss img {
        width: 300px;
    }

    .photo-02 .first-kiss p {
        width: 85%;

        font-size: 24px;
        font-weight: 500;
    }
    .photo-02 .first-kiss #first{
        font-size: 22px;    
    }
    .photo-02 .first-photo{
        margin-top: 250px;
    }
    .photo-02 .first-photo img{
        width: 300px;
        height: 440px;
    }
    .photo-02 .first-photo p{
        width: 85%;
        
        font-size: 24px;
        font-weight: 500;
    }

    /* FOTO 02 (1 ANO DE NAMORO) */
    .photo-03 img {
        width: 320px;
    }

    .photo-03 p {
        width: 85%;

        font-size: 24px;
        font-weight: 500;
        
    }

    /* MAIN TEXT 01 */
    .main-text-01 #back-text {
        width: 85%;
    }
    .main-text-01 #title-main-text {
        font-size: 34px;
    
    }

    .finish p {
        width: 90%;
        font-size: 26px;
    }
}


/* EFEITO  FLUTUANTE */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes zoom {
    0% {
        scale: 0.9;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 0.9;
    }
}